@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images/background.jpg') no-repeat center center / cover;
}

.container {
	padding: 0 20px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#todo-app {
	padding: 2rem;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	color: #FFFFFF;
	border-radius: 20px;
	border: 3px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

#todo-app h1 {
	font-size: 2rem;
}

.stat-container {
	padding: 15px 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	border: rgba(255, 255, 255, 0.18);
	border-radius: 10px;
}

.stat-container .details {
	width: 100%;
}

.stat-container h3 {
	color: #FFF;
}

#progress-bar {
	margin-top: 15px;
	width: 100%;
	height: 7px;
	position: relative;
	background-color: rgba(155, 194, 203, 0.3);
	border-radius: 20px;
}

#progress {
	width: 0%;
	height: 100%;
	background-color: #FF6F91;
	border-radius: 20px;
	transition: width 0.3s ease;
}

#numbers {
	font-size: 1.5rem;
	font-weight: bold;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF6F91;
	border: 2px solid rgba(155, 194, 203, 0.3);
	border-radius: 50%;
}

#input-area {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#input-area input {
	padding: 10px 17px;
	outline: none;
	font-size: 1.1rem;
	flex: 1;
	background-color: rgba(155, 194, 203, 0.3);
	color: #DBDBDB;
	border: none;
	border-radius: 22px;
}

#input-area input::placeholder {
	color: #BCBCBC;
}

#input-area button {
	margin-left: 10px;
	padding: 8px;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(155, 194, 203, 0.3);
	color: #FFFFFF;
	border: 2px solid rgba(255, 255, 255, 0.18);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease;
}

#input-area button:hover {
	background-color: #FF6F91;
	transform: scale(1.1);
}

.todos-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#task-list {
	width: 100%;
}

#task-list li {
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 1.2rem;
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgba(155, 194, 203, 0.3);
	color: #FFFFFF;
	border-radius: 30px;
	transition: box-shadow 0.2s ease;
}

#task-list li span {
  margin-right: 10px;
  display: inline-block;
  flex: 1 1 auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

#task-list li.completed span {
	text-decoration: 2px line-through #000000;
	color: #000000;
}

#task-list li:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
	margin-right: 10px;
	flex-shrink: 0;
	min-width: 20px;
	height: 20px;
	border: 2px solid rgba(155, 194, 203, 0.3);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease;
	appearance: none;
}

#task-list li .checkbox:checked {
	background-color: #FF6F91;
	transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
	content: '\2713';
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}

#task-list li span {
	flex: 1;
}

.task-buttons {
	margin-right: auto;
	display: flex;
	flex-shrink: 0;
	gap: 5px;
}

.task-buttons button {
	width: 30px;
	height: 30px;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(155, 194, 203, 0.3);
	color: #FFFFFF;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease;
}

.task-buttons button:hover {
	transform: scale(1.2);
}

.task-buttons .edit-button {
	background-color: #FFBF00;
}

.task-buttons .delete-button {
	background-color: #FF6F91;
}

.empty-image {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.container {
		margin: 0 20px;
		padding: 0 10px;
	}
	
	#todo-app {
		padding: 1.5rem;
		gap: 20px;
	}
	
	#numbers {
		font-size: 1rem;
		width: 60px;
		height: 60px;
	}
	
	#input-area input {
		font-size: 1rem;
	}
	
	#task-list li {
		font-size: 1rem;
	}
}